{% load url from future %}
<!DOCTYPE html>
<html lang="en">
    
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
		<title> WorldAlumni | Schoolmates around the you </title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="Z&z" />
        
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700' rel='stylesheet' type='text/css'>  
        <!-- End Fonts -->
        
        <!-- CSS Files -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/social.css" />
        <!-- End CSS Files -->
         
	</head>
    
	<body>
        
        <!-- Navigation Section -->
        <nav class="navbar" role="navigation">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span> 
                </button>
                <a class="navbar-brand" href="javascript:void(0);">WorldAlumni</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#services">SERVICE</a>
                    </li>
                    <li>
                        <a href="#friends">FRIENDS</a>
                    </li>
                    <li class="home">
                        <a href="#">
                            <img src="{{STATIC_URL}}img/logo-no-text.png" alt="Home" width="128" height="128">
                            <br>
                            WorldAlumni
                        </a>
                    </li>
                    <li>
                        <a href="#about">ABOUT</a>
                    </li>    
                    <li>
                        <a href="#contact">CONTACT</a>
                    </li> 
                </ul>
            </div>

        </nav>
        <!-- End Navigation Section -->
        
        <!-- Home Section -->
        <section id="home">
        
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12" style="margin-bottom:-30px;">
                         <div class="visible-xs">
                             <img src="{{STATIC_URL}}img/logo.png" class="logo" alt="Home" width="168" height="168">
                         </div>
                     </div>

                {%  if not user.is_authenticated %}
                    <div class="col-sm-12" style="margin-bottom:-10px;">
                        <p class="text-extra-large">WorldAlumni helps you find old schoolmates<br class="uk-hidden-small"> wherever you are in the world.
                        </p>
                    </div>
                {% endif %}


                </div>

                {%  if user.is_authenticated %}
                    <div class="row text-center">
                      <p class="text-large" > Welcom back, {{user.username}} !
                        <br/>
                        <span class="text-medium">Your current coordinate is: <span id="latitude"></span>, <span id="longitude"></span></span>
                        <br/>
                        <br/>
                        <a class="btn btn-danger findFriendButton" href="#friends" onclick="user_nearby();" style="display:none;">Find nearby friends</a>
                      </p>

                        <a href="/logout/" style="color:white;"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                {% else %}
                    <div class="row text-center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-block btn-lg btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                                <i class="fa fa-facebook"></i> Log in with Facebook
                            </a>
                        </div>
                    </div>

                    <br/>

                    <div class="row text-center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-block btn-lg btn-social btn-linkedin" href="{% url 'social:begin' 'linkedin-oauth2' %}">
                                <i class="fa fa-linkedin"></i> Log in with Linkedin
                            </a>
                        </div>
                    </div>
                {% endif %}
                

            </div> 
        
        </section>
        <!-- Home Section -->
        
        <!-- Services Section -->
        <section id="services">
             
            <div class="container">
                
                <div class="row text-center"> 
                    <div class="col-sm-12"> 
                        <h1 class="heading-large section-color-1">Functionality</h1>
                    </div>
                    <div class="col-sm-12"> 
                        <p class="text-large section-color-1">
                            We use your social network data & location service to find your nearby frineds.
                        </p>
                    </div>
                </div>
                
                <div class="row text-center">
                
                    <div class="col-sm-6 col-lg-3 service-item">
                        <div>
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div>
                            <h3 class="section-color-1">Socail Login</h3>
                            <p class="section-color-1">
                                Login with facebook or linkedin to import education and working history
                            </p>
                        </div>
                    </div>
                
                    <div class="col-sm-6 col-lg-3 service-item">
                        <div>
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div>
                            <h3 class="section-color-1">Location Based</h3>
                            <p class="section-color-1">
                                Based on your current location, we give you nearby schoolmates
                            </p>
                        </div>
                    </div>
                
                    <div class="col-sm-6 col-lg-3 service-item">
                        <div>
                            <i class="fa fa-link"></i>
                        </div>
                        <div>
                            <h3 class="section-color-1">Data Integration</h3>
                            <p class="section-color-1">
                                We combine data sources from both facebook & linkedin and break the gap between differents schools.
                            </p>
                        </div>
                    </div>
                
                    <div class="col-sm-6 col-lg-3 service-item">
                        <div>
                            <i class="fa fa-apple"></i>
                        </div>
                        <div>
                            <h3 class="section-color-1">iOS available</h3>
                            <p class="section-color-1">
                                We also have an iOS application available for you
                            </p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </section>
        <!-- End Services Section -->
        
        <!-- Friends Section -->
        <section id="friends">
             
            <div class="container">
                
                <div class="row text-center"> 
                    <div class="col-sm-12"> 
                        <h1 class="heading-large section-color-2">Nearby Schoolmates</h1>
                    </div>
                    {% if user.is_authenticated %}
                      <div class="col-sm-12"> 
                          <p class="text-large section-color-2">
                              Here is the list of your nearby schoolmates
                              </br>
                            <a class="btn btn-danger findFriendButton" href="#friends" onclick="user_nearby();" style="display:none;">Find nearby friends</a>
                          </p>
                          <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                              <table id="friend-table" class="table table-striped table-responsive">
                                <!--tr>
                                  <td> <img src='http://graph.facebook.com/1241272297/picture?width=40&height=40' alt="zhenyi2697" class="img-circle" > </td>
                                  <td> Zhenyi Zhang </td>
                                  <td> Georgia Institute of Technology </td>
                                  <td> 0.01km </td>
                                  <td> 23 hours ago </td>
                                </tr-->
                              </table>
                            </div>
                          </div>
                      </div>
                    {% else %}
                      <div class="col-sm-12"> 
                          <p class="text-large section-color-2">
                            Please log in to find your friends
                          </p>
                      </div>
                    {% endif %}
                </div>
                
                
                    
                <div class="row text-center">
                    {# <a href="portfolio/index.html" class="btn btn-2">View All Projects</a> #}
                </div>
                
            </div>
            
        </section>
        <!-- End Portfolio Section -->
        
        <!-- About Section -->
        <section id="about">
             
            <div class="container">
                
                <div class="row text-center"> 
                    <div class="col-sm-12"> 
                        <h1 class="heading-large section-color-1">ABOUT US</h1>
                    </div>
                    <div class="col-sm-12"> 
                        <p class="text-large section-color-1">
                            We are two graduate students from Atlanta
                        </p>
                    </div>
                </div>
                
                <div class="row text-center">
                
                    <div class="col-sm-6 col-lg-3 col-lg-offset-3">
                        <div class="team-member">
                            <div class="header">
                                <span class="name">Yang Guo</span>
                                <span class="position">Developer & Designer</span>
                            </div>
                            <div class="content">
                                <div class="info">
                                    <p>I am a graduate from Georgia Institute of Technology where I received a Master in Electrical & Computer Engineering.</p>
                                </div>
                                <img src="{{STATIC_URL}}img/team-1.jpg" alt="">
                            </div>
                            <div class="footer">
                                <ul>
                                    <li><a href="https://www.facebook.com/guo.yang.982"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/profile/view?id=148200288"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                
                
                    <div class="col-sm-6 col-lg-3">
                        <div class="team-member">
                            <div class="header">
                                <span class="name">Zhenyi Zhang</span>
                                <span class="position">Developer & Designer</span>
                            </div>
                            <div class="content">
                                <div class="info">
                                    <p>I am a graduate from Georgia Institute of Technology where I received a Master in Electrical & Computer Engineering.</p>
                                </div>
                                <img src="{{STATIC_URL}}img/team-3.jpg" alt="">
                            </div>
                            <div class="footer">
                                <ul>
                                    <li><a href="https://www.facebook.com/zhenyi2697"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/profile/view?id=116182385&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                
                    
                </div>
                
            </div>
            
        </section>
        <!-- End About Section -->
        
        <!-- Footer Section -->
        <footer>

            <section id="contact">
            
            <div class="container text-center">
                
                <div class="row">
                    
                    <div class="col-sm-12">
                        <ul class="subnav list-inline">
                            <li><a href="#services">Functionality</a></li>
                            <li><a href="#friends">Friends</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-12"> 
                        <p>
                            WorldAlumni made by <a href="http://www.znz.fr">Z&z</a>.<br>
                            Copyright &copy; 2014, All Rights Reserved
                        </p>
                    </div>
                    
                    <div class="col-sm-12">
                        <a href="#">
                            <img src="{{STATIC_URL}}img/logo-text-right.png" class="logo" alt="logo">
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </section>
        </footer>
        <!-- End Footer Section -->
    
        <!-- Scripts Section -->
        <script src="{{STATIC_URL}}js/jquery-2.0.3.js"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}js/smoothscroll.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">

          google.load("search", "1");

          /* google.load("jquery", "1.4.2"); */
          /* google.load("jqueryui", "1.7.2"); */

        {% if user.is_authenticated %}
          console.log('loading geo location');
          navigator.geolocation.getCurrentPosition(GetLocation);
          function GetLocation(location) {
              console.log(location.coords.latitude);
              console.log(location.coords.longitude);
              console.log(location.coords.accuracy);
              $("#latitude").html(location.coords.latitude);
              $("#longitude").html(location.coords.longitude);
              $(".findFriendButton").show();
          }
          {% endif %}

          var load_friends = function(friends){
            var rows = [];
            var row_data = "";
            var f;
            for (var i = 0; i < friends.length; i++) {
              f = friends[i];
              row_data = "<tr>";
              if (f.provider == 'facebook') {
                row_data += "<td><img src='http://graph.facebook.com/"+ f.uid +"/picture?width=40&height=40' alt='"+f.firstName+"' class='img-circle friend-thumbnail'/></td>"
              } else {
                row_data += "<td><img src='{{STATIC_URL}}img/WorldAlumni.png' style='width:40px;height:40px;' class='img-circle friend-thumbnail' /></td>";
              }
              row_data += "<td>"+ f.first_name + " "+ f.last_name +"</td>";
              if (f.associated_attendances.length > 0) {
                row_data += "<td>" +f.associated_attendances[0].school + "</td>";
              } else {
                row_data += "<td></td>";
              }
              row_data += "<td class='hidden-xs'>"+ f.distance +"</td>";
              row_data += "<td class='hidden-xs'>"+ f.appear_time +"</td>";
              row_data += "<td class='visible-xs'>"+ f.distance +" ("+ f.appear_time +")</td>";

              rows.push(row_data);
            }
            var html = rows.join();
            $("#friend-table").html(html);
          }

          var user_nearby = function(){
            var latitude =  $("#latitude").html();
            var longitude =  $("#longitude").html();

            post_params = {
              'bindingId': {{bindingId}},
              'longitude': longitude,
              'latitude': latitude
            }

            $.post('/api/nearby_users/', post_params).done(function(d){
              console.log(d);
              $("#sent_result").html("Your location has been sent to server")
              load_friends(d);
            }, 'json');

          }
      </script>
        <!-- End Scripts Section -->
        
    </body>
    
</html> 
